.row
  #navbar.span12.navbar{"data-spy" => "affix", "data-offset-top" => 251}
    .navbar-inner
      .main-nav
        %ul.nav.nav-pills
          %li
            = link_to root_path, :id => "logo" do
              = image_tag "header-logo.png"
          %li= link_to "Upload", "#", :id => "upload"
          %li= link_to "Search/Buy", "#"
