.row
  #navbar.span12.navbar.navbar-inverse{"data-spy" => "affix", "data-offset-top" => 238}
    .navbar-inner
      .main-nav
        %ul.nav.nav-pills
          %li= link_to "Home", "#home"
          %li= link_to "How I work", "#how"
          %li= link_to "Need more?", "#more"
          %li= link_to "Contact Me", "#contact"
