= render "shared/header"
= render "shared/navbar"

.row
  .span6
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
