= render "shared/header"
= render "shared/navbar"

.row
  .span6
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
    %div SPACER
