#header_pic
  = image_tag asset_path("header-image-black.png")

= render "shared/navbar"

.row
  .span6
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
    %div KUR
