/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@navblue: #69d2e7;
@searchbg: #4fb9cf;
@black: #333;

body {
  background: asset-url("bgr-major.png") repeat;
}

#header_pic {
  margin-bottom: 13px;
}

#main_content {
  background: asset-url("bgr-content.png") repeat;
}

#navbar {
  .navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-left:0px;
  }

  .navbar-inner {
    background: @navblue;
    border: 0;
    font-size: 24px;

    li {
      border-right: 1px solid #fff;
    }

    li:last-child {
      border-right: 0px;
    }

    li a {
      line-height: 77px;
      color: #fff;
      text-transform: uppercase;
      padding: 0px;
    }

    li a#logo {
      margin-right: 45px;
      margin-left: 45px;
    }

    li a#upload {
      margin-left: 81px;
      margin-right: 81px;
    }

    form {
      display: inline;
      line-height: 77px;
      margin-left: 50px;

      input {
        width: 400px;
        height: 41px;
        border: 0px;
        border-radius: 12px;
        padding: 0px 7px;
        margin: 0px;
        font-size: 24px;
        background: @searchbg;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}

#navbar.affix {
  top: 0;
}
